.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  height: 100vh;
}

/* Mobile */
@media (max-width: var(--xs)) {
}

/* Tablet and Smaller Desktop */
@media (min-width: (--xs)) and (max-width: var(--md)) {
}
