.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  min-height: 100vh;
  .mainTitle {
    margin-bottom: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .main {
    padding: 2rem 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 992px) {
}
